@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');
@import url('normalize.css');

:root {
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);

    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Spartan', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.7;
    min-height: 100vh;
    min-width: 375px;
    color: var(--very-dark-magenta);
    background-image: url('images/bg-pattern-top-mobile.svg');
    background-repeat: no-repeat;
    background-position: left top;
}

h1 {
    line-height: 1.1;
    margin: 0 0 1.25rem;
    color: var(--very-dark-magenta);
}

p {
    font-size: 0.9375rem;
    margin: 0 0 1rem;
}

.container {
    max-width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding: 4.5rem 1.5rem;
}

.page-text {
    font-size: 0.875rem;
    max-width: 320px;
    margin: 0 auto 2.5rem;
}

.page-body {
    text-align: center;
}

.reviews {
    list-style: none;
    margin: 0 0 3.125rem;
    padding-left: 0;
}

.reviews li {
    font-size: 0.875rem;
    font-weight: 700;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: var(--light-grayish-magenta);
    color: var(--very-dark-magenta);
    border-radius: 0.625rem;
    text-align: center;
}

.review-stars {
    margin-bottom: 0.25rem;
}

.card {
    margin-bottom: 1rem;
    padding: 2.5rem 1.625rem 2rem 2rem;
    color: var(--light-grayish-magenta);
    background-color: var(--very-dark-magenta);
    border-radius: 0.625rem;
}

.card-header {
    display: flex;
    margin-bottom: 1.5rem;
}

.card-image {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2.5rem;
    margin-right: 1.5rem;
}

.card-title {
    font-size: 0.8125rem;
    font-weight: 700;
    margin: 0;
}

.card-text {
    font-size: 0.8125rem;
    color: var(--soft-pink);
    margin-bottom: 0;
}

.card-quote {
    margin: 0;
}

.card-quote p {
    font-size: 0.8125rem;
    margin-bottom: 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
    display: none;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 991px) {
    .page-body {
        text-align: left;
    }
}
